<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/importJakartaFont.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">
</head>
<body class="container-fluid jakarta-regular">
<main class="row flex-nowrap">
    <div class="col-3 border-end p-0">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary min-vh-100">
            <a href="/manager/dashboard"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="/img/Logo.png" class="bi pe-none me-2" width="40" height="32" alt="home"/>
                <span class="fs-4 jakarta-bold">Playapp</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="/manager/dashboard" class="nav-link active nav-item">
                        <img src="/img/icons/speedometer2.svg" class="bi pe-none me-2" width="16" height="16"
                             alt="dashboard"/>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-body-emphasis">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Ordenes
                    </a>
                </li>
                <li>
                    <a href="/manager/products" class="nav-link link-body-emphasis">
                        <img src="/img/icons/boxes.svg" class="bi pe-none me-2" width="16" height="16" alt="inventory"/>
                        Catalogo
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-body-emphasis">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#people-circle"></use>
                        </svg>
                        Clientes
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong th:text="${nombreRestaurante}"></strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li>
                        <form sec:authorize="isAuthenticated()" class="col-12" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-light me-2" value="Sign Out">
                                Salir
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis" href="#">
                            <img src="/img/icons/house-door-fill.svg" class="bi" width="16" height="16" alt="home"/>
                            <span class="visually-hidden">Home</span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Dashboard
                    </li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <h1>PLAYAPP analitics on construction..</h1>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</main>
</body>
</html>
