MONGODB_URI=mongodb://localhost:27018/playappdb
MONGODB_DATABASE=playappdb

REDIS_HOST=localhost
REDIS_PORT=6380

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

PLAYAPP_ADMIN_EMAIL=adminplayapp01@gmail.com
PLAYAPP_ADMIN_PASSWORD=admin123
PLAYAPP_BASE_URL=http://localhost:8080

MP_ACCESS_TOKEN=

PLAYAPP_MONGO_PORT=27018
PLAYAPP_REDIS_PORT=6380
PLAYAPP_APP_PORT=8080
